<div>
    <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Dashboard</li>
        <div>
    </ul>
    <div class="m-b-md">
        <h3 class="m-b-none">Dashboard</h3>
        <small>Click a client to begin operations</small>
    </div>

    <div class="row">
        <section class="panel panel-default">
            <div class="row wrapper">
                <div class="col-sm-5 m-b-xs">
                </div>
                <div class="col-sm-4 m-b-xs">
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="input-sm form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!--         <table id="clientTable" class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th class="th-sortable" data-toggle="class">Client name</th>
                            <th>Queries</th>
                            <th>Export queries</th>
                            <th width="30">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in clients">
                            <td ng-model="client.name" ng-click="setSelectedName(client.name)">{{client.name}}</td>
                            <td>
                                <ul>
                                    <li ng-repeat="querie in client.queries">{{querie.queryName}}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li ng-repeat="querie in client.exportQueries">{{querie.queryName}}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <button class="btn btn-danger" ng-click="destroy()">
                                    Remove client
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>-->

                <table  id="clientTable" class="table table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="th-sortable" data-toggle="class">Client name</th>
                            <th>Queries</th>
                            <th>Export queries</th>
                            <th width="30">Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <td colspan="6">
                            <div class="pagination pull-right">
                                <ul>
                                    <li ng-class="{disabled: currentPage == 0}">
                                        <a href ng-click="prevPage()">< Prev</a>
                                    </li>

                                    <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                        ng-class="{active: n == currentPage}"
                                        ng-click="setPage()">
                                        <a href ng-bind="n + 1">1</a>
                                    </li>

                                    <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                        <a href ng-click="nextPage()">Next ></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="client in pagedItems[currentPage] ">
                            <td ng-hide="true" ng-model="client.id">{{client.id}}</td>
                            <td ng-model="client.name" ng-click="setSelectedName(client.name, client.id)">{{client.name}}</td>
                            <td>
                                <ul>
                                    <li ng-repeat="querie in client.queries">{{querie.queryName}}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li ng-repeat="querie in client.exportQueries">{{querie.queryName}}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <button class="btn btn-danger" ng-click="destroy()">
                                    Remove client
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!--    <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                    </div>
                    <div class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">showing {{clients.length}} of {{clients.length}} items</small>
                    </div>
                    <div class="col-sm-4 text-right text-center-xs">
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                            <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </footer>-->
        </section>
    </div>

</div>
<script>
    $(function () {
        $("#note-list").hide();
        $("#queriesMenu").children("li").removeClass("active");
        $("#queriesMenu").hide();
    });
</script>
