<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
    <li>Client</li>
    <li class="active">Query Exports</li>
</ul>
<div class="m-b-md">
    <h3 class="m-b-none">Merged Queries</h3>
    <small></small>
</div>

<div class="row">

    <div class="col-sm-6">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Export Settings</header>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Name</label>
                        <label>
                            <input type="checkbox">
                            Automate?                      
                        </label>
                        <input type="email" class="form-control" placeholder="Enter name">
                    </div>
               
                </form>
            </div>
        </section>
    </div>

    <div class="col-sm-6">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Set Your Date Range</header>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>From</label>
                        <div>
                            <input class="input-sm input-s datepicker-input form-control" size="16" type="text" value="12-02-2013" data-date-format="dd-mm-yyyy">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>To</label>
                        <div>
                            <input class="input-sm input-s datepicker-input form-control" size="16" type="text" value="12-02-2013" data-date-format="dd-mm-yyyy">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Order fields</header>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group col-sm-6" style="padding-left: 0px;">
                        <label>Custom field</label>
                        <input type="text" class="form-control" placeholder="">
                        <button type="submit" class="btn btn-sm btn-default">New Column</button>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Saved Queries</label>
                        <div id="Div1" class="input-group dropdown combobox">
                            <input class="form-control" name="combobox" type="text">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="caret"></i></button>
                                <ul class="dropdown-menu pull-right">
                                    <li data-value="1"><a href="#">Item One</a></li>
                                    <li data-value="2"><a href="#">Item Two</a></li>
                                    <li data-value="3" data-fizz="buzz"><a href="#">Item Three</a></li>
                                    <li class="divider"></li>
                                    <li data-value="4"><a href="#">Item Four</a></li>
                                </ul>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-default">New Row</button>
                    </div>


                </form>
            </div>
        </section>
    </div>


</div>

<div class="m-b-md">
    <!--<h4 class="m-b-none">Define the Start and End Date of the Fiscal Year</h4>-->
    <small></small>
</div>

<div class="row">

    <section class="panel panel-default">

        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>

                        <th class="th-sortable" data-toggle="class">Query
                         
                                                        <span class="th-sort">
                                                            <i class="fa fa-sort-down text"></i>
                                                            <i class="fa fa-sort-up text-active"></i>
                                                            <i class="fa fa-sort"></i>
                                                        </span>
                        </th>
                        <th>Query Range</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Query number 1</td>
                        <td>Range 0 to 100</td>
                    </tr>
                    <tr>
                        <td>Query number 2</td>
                        <td>Range 0 to 200</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <select class="input-sm form-control input-s-sm inline v-middle">
                        <option value="0">Bulk action</option>
                        <option value="1">Delete selected</option>
                        <option value="2">Bulk edit</option>
                        <option value="3">Export</option>
                    </select>
                    <button class="btn btn-sm btn-default">Apply</button>
                </div>
                <div class="col-sm-4 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                </div>
                <div class="col-sm-4 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </section>

</div>
<div class="form-actions" style="padding-bottom:20px">
    <button class="btn btn-primary" ng-disabled="!(queries.length)" ng-click="getQueryExport()" disabled="disabled">
        Export
    </button>
    <button class="btn btn-success" ng-disabled="!(queries.length)" ng-click="saveQueryExport()" disabled="disabled">
        Save Merged Query
    </button>
    <button class="btn btn-danger" ng-disabled="!(selectedQueryExport)" ng-click="deleteQueryExport()" disabled="disabled">
        Delete Merged Query
    </button>
    <button class="btn btn-warning" ng-disabled="!requestCanceler" ng-click="stopQueryExport()" disabled="disabled">
        Stop Query
    </button>
    <button class="btn btn-info" ng-disabled="!(selectedQueryExport &gt; 0 &amp;&amp; automate)" ng-click="runAutomatedQueryExport()" disabled="disabled">
        Run Automated Export
    </button>
</div>
<script>
    $(function () {
        $("#note-list").show();
        $("#queriesMenu").show();
        $('.datepicker-input').datepicker();
    });
</script>